<form [formGroup]="form" >
  <mat-card>
    <mat-card-title>PARAMETROS GLOBALES </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayout.xs="column">
        <diV fxFlex="100%">
          <mat-table #table [dataSource]="dataSource">                  
            <ng-container matColumnDef="igv">
              <mat-header-cell *matHeaderCellDef> IGV </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.IGV }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="percentageMinWholesalePrice">
              <mat-header-cell *matHeaderCellDef> Porcentaje minimo por mayor </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.percentageMinWholesalePrice }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="percentageMinRetailPrice">
              <mat-header-cell *matHeaderCellDef> Porcentaje minimo por menor </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.percentageMinRetailPrice }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="button">
              <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
              <mat-cell *matCellDef="let element" fxLayoutAlign="end">
                <button mat-icon-button (click)="viewItem(element)" matTooltip="Ver">
                  <mat-icon>visibility</mat-icon>
                </button>
                <div [hidden]="!validateSession(actionEdit)">                       
                  <button mat-icon-button (click)="updateItem(element)" matTooltip="Modificar" >
                    <mat-icon>mode_edit</mat-icon>
                  </button>
                </div> 
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </diV>
      </div>                      
    </mat-card-content>        
  </mat-card>
  <itcusco-processing [showProcessing]="showProcessing"></itcusco-processing>
</form>