<h3 mat-dialog-title color="primary">MARCA-{{title}}</h3>
<mat-dialog-content>
  <form [formGroup]="form" >
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Nombre" maxlength="100" formControlName="name" required>
        <mat-error>Ingrese algún valor</mat-error>
      </mat-form-field>
    </div>
    <itcusco-processing [showProcessing]="showProcessing"></itcusco-processing>
  </form>      
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
  <div *ngIf="title != operationView">
    <button mat-raised-button color="primary" mat-dialog-close (click)="save()" [disabled]="!form.valid" >{{title}}</button>
  </div>  
  <button mat-button [mat-dialog-close]="true">CANCELAR</button>
</mat-dialog-actions>